#include <windows.h>
#include "mruby/include/mruby/version.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION    MRUBY_RELEASE_MAJOR,MRUBY_RELEASE_MINOR,MRUBY_RELEASE_TEENY,0
PRODUCTVERSION MRUBY_RELEASE_MAJOR,MRUBY_RELEASE_MINOR,MRUBY_RELEASE_TEENY,0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_DLL
FILESUBTYPE VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "04090000"
    BEGIN
      VALUE "FileDescription",  MRUBY_DESCRIPTION
      VALUE "FileVersion",      MRUBY_VERSION
      VALUE "LegalCopyright",   MRUBY_COPYRIGHT
      VALUE "InternalName",     MRUBY_RUBY_ENGINE
      VALUE "OriginalFilename", "mruby.dll"
      VALUE "ProductName",      MRUBY_RUBY_ENGINE
      VALUE "ProductVersion",   MRUBY_VERSION
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x0000
  END
END
